/** @format */

body {
  font-family: 'Nerko One', cursive;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

.container {
  gap: 10;
}

.navbar-brand {
  font-size: x-large;
}

.nav-link {
  font-size: larger;
}

.nav-link:hover {
  background-color: deepskyblue;
  opacity: 100%;
  transition: 2s;
  text-decoration-color: deepskyblue;
  box-shadow: 0 2px 4px 0 rgb(56, 56, 56);
}

.card {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 2s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    2s box-shadow, 2s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
